root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csproj,json,md,yaml,yml,xml,slnx}]
indent_style = space
indent_size = 4

[*.{cpp,h,hpp}]
indent_style = tab

[*.go]
indent_style = tab
indent_size = 8

[*.ps1]
indent_style = space
indent_size = 4

